
.titulo{
    background-color: rgb(131, 206, 250);
    color: white;
    text-align: center;
}
.cuerpo {
    background-color: white;
    background-repeat:no-repeat ;
    background-position: center;
    background-attachment: fixed;
}
.novedades{
    background-color: rgb(255, 255, 255);
    display: block;
  
}

*{
    font-family: 'Hind Siliguri', sans-serif;
    padding: 0%;
    margin: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   
   

}
.input{
    color: rgb(0, 0, 0);
    display:block;
    border-radius: 15cm;
    width: 10cm;
    padding: 10px;
    margin-top:2%;
    margin-left: auto;
    margin-right: auto;
    border:none;
    background-color: white;
}
.boton{
    justify-content: right;
    margin-left: 1600px;
    transition-property:all ;
    transition-duration:5s ;
    transition-delay: 5s;
}
.form{
    height: 800px;
  text-align: center; 
    margin-top:5%;
  /*margin-left: 60%;
  margin-right: 40%;*/
  padding: 2%;
  border-radius: 0% ;
   
}
.division{
    /*background-color: rgb(131, 206, 250);*/
    background-color:rgb(223, 219, 219);

}
footer{
   
       background-position: bottom;
   /*background: #16a085;*/
   background-color: #818181;
    color: #ffffff;
    height: 250px;
}
.parrafo{
    color: white;
   margin-left: 90px;
}


.slide-wrap{
    height: 500px;
    width: 500px;
}
.lis_act{
    height: 500px;
    padding: inherit;
    text-align: center;
    background-color: rgba(194, 189, 189, 0.384) ;
}
hr{
    margin-left: 21%;
}
.entrega{
    border-radius: 10%;
    width: 800px;

    padding: auto;
    text-align: center;
    background-color: rgba(194, 189, 189, 0.384) ;
    height: 100px;
    margin-left: 20px;
    margin-right: 1300px;
    height: 300px;
}
li{
    text-align: left;
    color: black ;
    margin: 2%;
}
.lado{
    text-align: center;
    padding: 2%;
}
.subidas{
    margin-right: 50%;
    margin: 2%;
    height: 2cm;
    box-sizing: content-box;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.507);
}
.noticias{
    text-align:center;
    color: white;
}

.dea{
    margin-left: 100px; 
    margin-left: 20px;
    margin-right: 1300px;
}
.pri_di{
    margin-left:20%
}
.tabla{
    margin: 50%;
    background-color:rgb(255, 255, 255);
}
.calendar{
margin:auto;
padding: 2%;
background-color: rgb(255, 255, 255);


}
.boxMat{

    background-color: rgb(255, 255, 255);
    height: 879px;
    text-align: center;
    overflow: hidden;
    background-attachment: fixed;
    z-index: -200;

}
td{
    border: solid;
}
.dia{
    background-color:  rgb(255, 255, 255);

    margin: 0%;
    padding: 2%;
}
.dia:hover{
    background-color:  #d9adad;

    margin: 0%;
    padding: 2%;
}
.dia_pasado{
    background-color: #ffffff;

    margin: 0%;
    padding: 2%;
}
.dia_pasado:hover{
    background-color: rgba(255, 64, 80, 0.582);

    margin: 0%;
    padding: 2%;
}
.tituloTab{
    margin-left: 15%;
    width: 800px;
    color: white;
    text-align: center;
    background: -webkit-linear-gradient(left, rgba(60, 184, 255, 0.685) , rgba(218, 70, 255, 0.603));;
    /*#d9adad*/
}
.tituloMen{
    color: white;
    text-align: center;
    background: -webkit-linear-gradient(left, #EECDA3, #EF629F);;
    /*#d9adad*/
}
.btnNuevo{
    text-align: center;
    text-decoration:none;
    background-color: #AD1457;
    margin: 1%;
    padding: auto;
    color: black;
    border: none;
}
.btnNuevo:hover{
    text-align: center;
    text-decoration:none;
    background-color: rgb(177, 86, 86);
    color: black;
    transition-property: all;
    transition: ease;

    box-shadow: 1px 1px 20px .1ch  rgb(131, 128, 128);
}
.sombra{
    box-shadow: 1px 1px 20px .1ch  rgb(71, 71, 71);
}
.profIcon{
    display: inline-flexbox;
    border-radius:50%;
    height: 60px;
    width: 60px;
  
   
}
.profLine{
    margin-top:2%;
    margin-left:10%;
}
.nameWelcome{
    margin-left:20%;
    margin-top:8%;
}
div a h5{
    justify-content: space-between;
    display: inline-flexbox;
}

.btnCalendar{
    text-align: center;
    text-decoration:none;
    background-color: rgb(255, 255, 255);
    margin: 1%;
    padding: auto;
    color: black;
    padding: 2%;
    border: solid;
    border-radius: 0%;
    border-color: rgb(255, 255, 255) ;
}
.btnCalendar:hover{
    border-radius: 5% ;
    padding: 2%;
    text-align: center;
    text-decoration:none;
    background-color: rgb(177, 86, 86);
    color: black;
    transition-property: all;
    transition: ease;

    box-shadow: 1px 1px 20px .1ch  rgb(131, 128, 128);
}
.config{
    text-decoration: none;
    margin-left:15%;
    margin-top: 8%;
    display: flexbox;
}
.config:active{
    display: block;
    background: -webkit-linear-gradient(left, rgba(60, 184, 255, 0.685) , rgba(218, 70, 255, 0.603));;

    text-decoration: none;
    transition-property: all;
    transition: ease;

}
.contorno{
    border-radius: 1%;
    border: solid;
    border-color: #d9adad ;
    border-style: ridge;
    border-width: 2px;
    height: 700px;
    margin-bottom: 10%;

}
.inputConfig{
    border-radius: 15cm;
    width: 10cm;
    padding: 5px;
    border:none;
    background-color: white;
}
.profileEdit{

    border-radius: 20%;
    border: solid;
    border-width: 1px;
    border-color: whitesmoke;
    box-shadow: 1px 1px 20px .1ch  rgb(24, 24, 24);
    height: 200px;
    width: 200px;
}
.hojaPersonal{
    background-color: silver;
}
.header{
    z-index: 1000;
    display: block;
    background-color:#fffbfb;
    height: 80px;
    background-attachment: fixed;
    
}
.contenedor{
    min-width:464px ;
    min-height: 535px;
}


 /*.video{
        height: 600px;
        width: 800px;
        margin: 150px;
        background-color: silver;
    }*/

    .enlace{
        margin-top: 2%;
        display: block;
    }
    .foot{
        height: auto;
        color:black;
        margin-top: 15%;
        overflow: hidden;
        position: absolute;
    }
    .nov{
        margin-top: 5%;
        bottom: auto;
        left: auto;
        right: auto;
    }
    .botMen{
        background-color: rgb(255, 255, 255);
    }
    .botMen:hover{
        
        background-color: rgb(255, 255, 255);

    }
    body{

        background: -webkit-linear-gradient(left, #EECDA3, #EF629F);;
        overflow-x: hidden;
        zoom: 0.9;
    }
    .borde{
        border-radius: 2% ;
    }
    .formText{
        text-align: center;
       
        justify-content: space-around;
    }
    .centro{
        text-align: center;
    }
    .logItems{
        justify-self: center;
        position: absolute;
        display: block;
        margin: auto;
        
         
      }

      .degradado {
        background: -webkit-linear-gradient(left, #FF1616 , #FF66C4);;
       
        }
      
        .navegacion{
          
            margin-top:50%;
            margin-top: 2%;
            padding: 2%;

        }
        .botonNav{
            width: 400px;
            color: black;
            background-color: white;
            padding:1%;
            border-radius: 5%; 
            text-decoration:  none;
        }
        .botonNav:hover{
            
            color: black;
            background: -webkit-linear-gradient(left, #FF1616 , #FF66C4);;
            box-shadow: 1px 1px 20px .1ch  rgb(71, 71, 71);
            
            text-decoration:  none;
    
        }
        .textFot{
            margin-top:2%;
        }
         .btnFot{
            margin:2%;
            display: inline;            
         }
         .hFot{
             margin-bottom: 2%;
         }
         .btnGoogle
         {
            margin-left: 37%
         }
         .top{
             margin-top:2%;
         }
         .remember{
             margin-top: 2%;
            margin-right:10%;
         }
         .clases{
             background-color: white;
             padding:5%;
            margin-top:2%;
             position: relative;
             
         }
         
         

/*@media(max-width:800px)
{
    .boxMat{
        display:none;
    }
    .profIcon{
        display:block;
        margin-top:20%;
        margin-left:20%;
    }
}
@media(min-width:1080px)
{
    .boxMat{
        display:block;
    }
    .profIcon{
        display:none;
    }
    .NameWelcome
    {
        display:none;
    }
}*/
aside{
 position: fixed;
   
}
aside div nav ul{
    z-index: 1000;
    width: 400px;
    height: 900px;

   
}
button img{
    width: 35px;
    margin-left: 30%;
}
.profundidad{
    z-index: 1500;
}
.btn .botonNav{
    
    width: max-content;
}
.navigation{
    text-align: center;
    width: max-content;
    position:absolute;
}

.focus{
    backdrop-filter: 100;
    z-index: 500;
    box-shadow: 100px 10px 200px 100cm  rgba(0, 0, 0, 0.432);
}
.clases{
    margin-top:5%;
    z-index: -2000;
}
a{
    height: 50px;
    background-color: rgba(0, 0, 255, 0.411);
    text-align: center;
}
.conClass{
    height: 100%;
    width: 100%;
}
.left{
    margin-left:5%;
}
h3{
    margin-left:5%;
    text-align: justify;
}
.tkPen{
    text-align: center;
}